* {
    box-sizing: border-box;
    margin: 0px;   
}

@font-face {
    font-family: 'Poppins';
    src: url(/Fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}

body {

    background-color: white;   
}



header {

    width: 90%;
    background-color: rgb(0, 4, 63);
    margin: auto;
    text-align: center;
    border-radius: 25px 25px;
    animation: move-from-top 1.1s ease-in-out;
}

header h1 {

    color: white;
    font-size: 50px;
    background-image: linear-gradient(to top, rgb(181, 40, 252),#14d3e0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-weight: bold;
    
}

/* styling the first main section with float */

section:first-child {
    width: 100%;
    display: inline-block;
}

section:first-child h2 {

    color: white;
    font-size: 30px;
    background-image: linear-gradient(to top, rgb(181, 40, 252),#14d3e0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 25px 0px 25px 25px ;
    animation: appear 2s ease-in-out;
}

#grid-floats {

    list-style: none;
    width: 100%;
    height: 50%;  
    display: inline-block;
    padding: 10px;
   
}

section:first-child ul li {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10%; 
    border: 1px solid rgb(0, 4, 63);
    border-radius: 10px 10px;
    margin: 5px 2px 2px 2px;
    height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 15px -1px;
    animation: appear 1.3s ease-in-out;
}

img {

    width: 60%;
    height: 60%;
    margin-top: 45px;
    cursor: pointer;
            
}

img:hover {

  transform: scale(1.2 , 1.1);
  border: 1px solid black;
  border-radius: 50%;
   width: 65%; 
  margin-top: 65px;
  transform: rotateY(180deg);
  transition: transform ease-in-out 1s;
  box-shadow: 1px 1px 12px  rgb(0, 4, 63);
         
}

section:first-child h3 {
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    background-color: rgb(0, 4, 63);  
    display: inline-block;
    margin-top: 0px;
    padding: 20px;
}

#grid-floats p {

   font-family: 'Poppins';
   color:  rgb(0, 4, 63);
   text-align: center;
   font-size: 15px;
   overflow: auto;
   padding: 5px;

}

section:first-child ul li:nth-child(1){

    width: 53%;
    float: left;
    animation: move-from-left 1s ease-out;
    
}

section:first-child ul li:nth-child(2){

    width: 44%;
    animation:  move-from-right 0.8s ease-out;
    float: right;
}

section:first-child ul li:nth-child(3){

    width: 33%;
    animation: move-from-left 1.1s ease-out; 
    float: left;
}

section:first-child ul li:nth-child(4){

    width: 33%; 
    float: left;
}
section:first-child ul li:nth-child(5){

    width: 33%;
    animation:  move-from-right 1s ease-out;  
    float: right;
}

section:first-child ul li:nth-child(6){

    width: 33%;
    animation: move-from-left 1.2s ease-out;  
    float: left;
}

section:first-child ul li:nth-child(7){

    width: 33%;   
    float: left;
}

section:first-child ul li:nth-child(8){

    width: 33%;
    animation:  move-from-right 1.3s ease-out; 
    float: right;
}

section:first-child ul li:nth-child(9){

    width: 33%;
    animation: move-from-left 1.4s ease-out;  
    float: left;
}

section:first-child ul li:nth-child(10){

    width: 33%;   
    float: left;
}

section:first-child ul li:nth-child(11){

    width: 33%;
    animation:  move-from-right 1.5s ease-out;  
    float: right;
}

section:first-child ul li:nth-child(12){

    width: 33%;
    animation: move-from-left 1.6s ease-out;  
    float: left;
}

section:first-child ul li:nth-child(13){

    width: 33%;   
    float: left;
}

section:first-child ul li:nth-child(14){

    width: 33%;
    animation:  move-from-right 1.8s ease-out;   
    float: right;
}

/* styling the last main section with flex */
section:last-child {
    width: 100%; 
    display: inline-block;
}

section:last-child h2 {
    color: white;
    font-size: 30px;
    background-image: linear-gradient(to top, rgb(181, 40, 252),#14d3e0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 25px 0px 25px 25px ;
}

#grid-flex {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

#grid-flex {
    font-family: 'Poppins';
    color:  rgb(0, 4, 63);
    text-align: center;
    font-size: 15px;
    overflow: auto;
    padding: 5px;
}

section:last-child ul li:nth-child(1){ 
    width: 52%;   
}
section:last-child ul li:nth-child(2){   
    width: 42%;  
}

section:last-child ul li {

    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
    width: 32%;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    height: 10%; 
    border: 1px solid rgb(0, 4, 63);
    border-radius: 10px 10px;
    margin: 5px 2px 2px 2px;
    height: 400px;
    overflow: hidden;
    box-shadow: 3px 3px 15px -1px;
    animation: appear 1.8s ease-in-out;
}

section:last-child h3 {
    width: 100%;
    height: 50px;
    text-align: center;
    color: rgb(0, 4, 63);
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    background-image: linear-gradient(to top, rgb(181, 40, 252),#14d3e0 ); 
    display: inline-block;
    margin-top: 0px;
    padding: 20px;
  
}

#grid-flex p {

    font-family: 'Poppins';
   color:  rgb(0, 4, 63);
   text-align: center;
   font-size: 15px;
   overflow: auto;
   padding: 5px;

}

/* media query for small screen from 320px to 600px */

@media only screen and (min-width: 320px) and (max-width: 600px){

       header {
                    width: 100%;
                    border: none;
                    border-radius: 0px 0px;

       }

       #grid-floats li {

        width: 100%;
        margin-bottom: 20px;

       }

       img {

        width: 50%;
        height: 50%;
        margin-top: 55px;
        cursor: pointer;
                
    }

    section:first-child h3 {

        padding: 12px;
    }

    #grid-flex {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #grid-flex li {
        width: 100%;
        margin-bottom: 20px;
    }

}

/* media query for tablets screen from 600px to 1024px */

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    header {
        width: 100%;
        border: none;
        border-radius: 0px 0px;

}
    #grid-floats li {
    width: 32%;
    margin-bottom: 20px;
    height: 450px;
    float: left;
   }

   #grid-floats li:nth-child(1) {
    width: 52%;
    margin-bottom: 20px;
   }

   #grid-floats li:nth-child(2) {
    width: 42%;
    margin-bottom: 20px;

   }

   #grid-floats li h3 {

    padding: 8px;
    padding-top: 15px;
    font-size: 15px;
   }

   #grid-floats li p {

    font-size: 15px;
   }

   img {  
        height: 30%;    
       }

   #grid-flex li {

    margin-bottom: 20px;
    height: 450px;
   }

   #grid-flex li h3 {
    padding: 8px;
    font-size: 15px;
   }

}

/* media query for big screen more than 1024px */

@media only screen and (min-width: 1025px){

    #grid-floats li {
        width: 24%;
        margin-bottom: 20px;
        height: 450px;
       }

    #grid-floats li:nth-child(1) {
    width: 48%;
    margin-bottom: 20px;
    float: left;
    }
    #grid-floats li {
        width: 24%;
        float: left;
        }

    #grid-floats img {

        height: 30%;
        margin-top: 65px;
    }
    #grid-floats p {

        max-height: 35%;
    }  
    
    #grid-floats li h3 {

        height: 15%;
    }

    #grid-floats li:nth-child(1) img {
        width: 33%;
        
        }

    #grid-flex li:nth-child(1) {

        width: 48%;
        flex-grow: 2;

    }   

    #grid-flex li:nth-child(14) {

        

    }   
    
    #grid-flex li {

        width: 24%;
        flex-grow: 1;
    } 
    #grid-flex li:nth-child(1) img {
        width: 33%;
        
        }
}


/* animation for the products container */

@keyframes appear {


    0% {
        opacity: 0;
        transform: rotateY(180deg) scale(0.5) translateX(-500px);     
    }
    
    100% {
        opacity: 1;
        transform: rotateY(0deg) scale(1) translateX(0px);   
    }
}

@keyframes move-from-left {

    0% {
        transform: translateX(-620px) scale(0.1);
        
        opacity: 0      
    }

    50% {
        
        opacity: 0.7;
        
    }
    
    100% { transform: translateX(0px); transform: scale(1 ); opacity: 1;}
}

@keyframes move-from-right {

    0% {
        transform: translateX(620px) ;      
        opacity: 0;      
       }
    50% {       
         opacity: 0.3;
        }

    100% { transform: translateX(0px); opacity: 1;}


}

@keyframes move-from-top {

    0% {
        transform: translateY(-100px);
        background-color: rgb(139, 203, 255);
    } 

    40% {
        background-color: rgb(67, 148, 214);
    }
    
    
    100% {

        transform: translateY(0px);
        background-color: rgb(0, 4, 63);
    }
}